.tabs-container{
    margin-top: 2rem;
    
}

.table-data{
    margin-top: 1.5rem;
    
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ccc;
    
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-bottom: .4rem solid rgba(0, 0, 0, 0.1);

    width: 100%;
    overflow: hidden;

    tr{
        border: 1px solid #ccc;
        // padding: 1rem;
        
        th{
            // border-bottom: 1px solid black;
            // background-color: red;
            font-size: 1.2rem;
            padding: 1rem 1.5rem;
        }
    }

    tbody{
        font-size: 1.2rem;
        
        tr{
            background-color: #ffff;

            td{
                padding: 1.5rem;
                border-top: 1px solid #ccc;
            }

            &:hover, &.focused{
                background-color: var(--color-yellow-light);
                cursor: pointer;
            }
        }
    }
}


.box-table{
   
    padding: 1rem 2.5rem;
}

.field-table{
    border-collapse: separate;
    border-spacing: 0;   
    width: 100%;
    border-top: 1px solid var(--color-grey-light-small);
    border-bottom: 1px solid var(--color-grey-light-small);
    // border-bottom: 1px solid var(--color-grey-light);
    margin-bottom: 1rem;

    thead tr th{
        border-bottom: 1px solid var(--color-grey-light-small);
    }

    tr{
        th{
            font-size: 1rem;
            text-align: left;
            padding: 1.2rem;
            text-transform: uppercase;
        }
    }

    tbody{
        tr{
            td{
                // border-top: 1px solid var(--color-grey-light-small);
                padding: 1rem 1rem;

                .field{
                    &__input{
                        padding: .7rem;
                        width: 50%;
                        outline: none;
                        border-radius: .4rem;
                        
                        border: 2px solid var(--color-grey-light-small);
                        background-color: var(--color-grey-light-small);
                        &:focus{
                            background-color: #fff;
                            border: 2px solid var(--color-grey1);
                        }
                        &:hover{
                            border: 2px solid var(--color-grey1);
                        }

                        &:disabled{
                
                            border: 2px solid var(--color-grey-light-small);
                            background-color: var(--color-grey-light-small-2);
                            
                            &:hover{
                                
                            }
                        }
                    }


                }
            }
        }

    }
}

.table-list{
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0 .5rem;

   
   
    td, th {
        padding: 15px 20px;
        text-align: center;        
    }

    th {
        border-top: 1px solid var(--color-grey-light-small);
        background:  var(--color-green-light-1);
        text-transform: uppercase;    
    }

    tbody {
        tr {
            box-shadow: 0px 3px 5px #EBEBEB;
            border-radius: 10px;  
            font-size: 1.2rem; 
        }
    }

    tr{
        width: 100%;
        background-color:white;
        // font-family: 'Montserrat', sans-serif;
        padding: 4px;
        &:hover, &.focused{
            background-color: var(--color-yellow-light);
            cursor: pointer;
        }
    }

    td:first-child {
        border-radius: 1rem 0 0 1rem;
    }

    td:last-child {
        border-radius: 0 1rem 1rem 0;
    }

}
