.vs__dropdown-toggle {
  appearance: none;
  display: flex;
  // padding: 1rem !important;
  background: none;
  // border: $border-width $border-style $border-color;
  // border-radius: $border-radius;
  // white-space: normal;

  padding: 0.6rem !important;
  outline: none !important;
  border-radius: .5rem !important;

  border: 2px solid var(--color-grey-light-small-3) !important;
  background-color: var(--color-grey-light-small-3) !important;
}

