:root{
    --color-white: #fff;

    --color-grey: #707070;
    --color-grey1: #CBC9C9;

    --color-grey-light: #acacac;
    --color-grey-light-small: #EBEBEB ;
    --color-grey-light-small-1: #dad8d8 ;
    --color-grey-light-small-2: #f9f9f9;
    --color-grey-light-small-3: #F5F7F9;

    --color-grey-dark: #5C5C5C;

    --color-green: #07b35a;
    --color-green-light: #0BE7B4;
    --color-green-light-1: #F2F3F7;

    --color-green-dark: #0e6337;

    --color-pink: #FE49A0;
    --color-yellow: #FED400;
    --color-yellow-light:#FAF2C7;
    
    --color-blue: #3392E3;
    --color-blue-light: #2bd4fa;
    --color-blue-dark: #0D1419;
    
    --color-black: #0000;
}