
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";



@import 'helpers/mixins';
@import 'helpers/functions';
@import 'helpers/variables';
@import 'helpers/utilities';


// @import 'core/minireset';
// @import 'core/base';
@import 'core/typography';

// loader spinner
@import "spinner/gauge";

// @import 'components/navbar';
// @import 'components/buttons';
// @import 'components/forms';
@import 'components/breadcrumb';
@import 'components/tabs';
@import 'components/tables';
@import 'components/search';
@import 'components/info';
@import 'components/users';
@import 'components/categories';
@import 'components/paginate';

@import 'pages/back/dashboard';
@import 'pages/back/expenses-view';
@import '~vue-snotify/styles/material';
// @import 'pages/back/footer';
// @import 'pages/back/login';


// @import 'pages/front/home';

.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  /*background: #dfe5fb;*/
  border: 1px solid #e5e5e5;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
  font-weight: 600;
}

.vs__dropdown-toggle {
  padding: 1rem;
}
.vs__dropdown-menu {
  font-size: .5rem;
}
